In [1]:
import pandas as pd
pd.set_option('display.max_rows',1000)

### Advantages using Pandas statistical functions Missing values are removed prior to computation

In [4]:
dfRate= pd.read_csv("C:\\Users\\HP\\Downloads\\World2017literacyRate.csv",encoding='Latin1')

In [5]:
dfMortality=pd.read_csv("C:\\Users\\HP\\Downloads\\InfantmortalityGNI.csv",encoding= 'Latin1')

In [6]:
dfRate.head()

               Country  Literacy_Rate
0              Albania             96
1              Algeria             73
2               Angola             70
3  Antigua and Barbuda             99
4            Argentina             98

In [8]:
dfMortality.head()

     Countries  GNI_PER_CAPITA  Infant_Mortality
0  Afghanistan           590.0              73.2
1      Albania          4290.0              14.0
2      Algeria          4800.0              25.5
3      Andorra             NaN               2.8
4       Angola          4040.0              86.5

In [9]:
dfMortality['GNI_PER_CAPITA'].mean()

13834.108108108108

In [10]:
dfMortality['GNI_PER_CAPITA'].median()

5540.0

In [11]:
dfMortality['GNI_PER_CAPITA'].std()

19036.34080056369

## Using Statistical Functions availabe in Pandas library

In [13]:
dfRate.describe().stack()

count  Literacy_Rate    147.000000
mean   Literacy_Rate     82.469388
std    Literacy_Rate     18.555473
min    Literacy_Rate     29.000000
25%    Literacy_Rate     71.000000
50%    Literacy_Rate     90.000000
75%    Literacy_Rate     98.000000
max    Literacy_Rate    100.000000
dtype: float64

In [14]:
dfRate.describe().unstack()

Literacy_Rate  count    147.000000
               mean      82.469388
               std       18.555473
               min       29.000000
               25%       71.000000
               50%       90.000000
               75%       98.000000
               max      100.000000
dtype: float64

In [15]:
dfRate.describe()

       Literacy_Rate
count     147.000000
mean       82.469388
std        18.555473
min        29.000000
25%        71.000000
50%        90.000000
75%        98.000000
max       100.000000

In [21]:
dfMortality.groupby("Infant_Mortality").describe().unstack()

                 GNI_PER_CAPITA                                                \
                          count          mean           std      min      25%
Infant_Mortality
2.2                         1.0  50260.000000           NaN  50260.0  50260.0
2.4                         2.0  34390.000000  17168.552647  22250.0  28320.0
2.5                         1.0  73530.000000           NaN  73530.0  73530.0
2.7                         3.0  57470.000000  34270.691560  25810.0  39275.0
2.8                         0.0           NaN           NaN      NaN      NaN
2.9                         1.0  57760.000000           NaN  57760.0  57760.0
3.0                         1.0  38780.000000           NaN  38780.0  38780.0
3.1                         1.0  18300.000000           NaN  18300.0  18300.0
3.2                         1.0  18130.000000           NaN  18130.0  18130.0
3.4                         2.0  30695.000000   3217.335854  28420.0  29557.5
3.5                         2.0  23845.000000   4815.397180  20440.0  22142.5
3.6                         1.0  47610.000000           NaN  47610.0  47610.0
3.7                         1.0  51290.000000           NaN  51290.0  51290.0
3.8                         3.0  38893.333333  20177.636961  20270.0  28175.0
3.9                         3.0  45183.333333   4183.124829  40730.0  43260.0
4.0                         2.0  25530.000000  26601.357108   6720.0  16125.0
4.1                         2.0  45925.000000  54652.283118   7280.0  26602.5
4.3                         1.0  60300.000000           NaN  60300.0  60300.0
4.4                         1.0  43720.000000           NaN  43720.0  43720.0
4.8                         1.0  12810.000000           NaN  12810.0  12810.0
4.9                         1.0  13340.000000           NaN  13340.0  13340.0
5.0                         1.0  14970.000000           NaN  14970.0  14970.0
5.1                         2.0  31185.000000  22719.340880  15120.0  23152.5
5.4                         1.0  12960.000000           NaN  12960.0  12960.0
5.6                         1.0  40250.000000           NaN  40250.0  40250.0
6.0                         1.0  17560.000000           NaN  17560.0  17560.0
6.1                         1.0   5050.000000           NaN   5050.0   5050.0
6.2                         1.0   5540.000000           NaN   5540.0   5540.0
6.6                         1.0  56250.000000           NaN  56250.0  56250.0
6.9                         1.0  24780.000000           NaN  24780.0  24780.0
7.7                         1.0  22660.000000           NaN  22660.0  22660.0
7.8                         1.0  42910.000000           NaN  42910.0  42910.0
8.0                         1.0  11660.000000           NaN  11660.0  11660.0
8.2                         2.0   8965.000000   2100.107140   7480.0   8222.5
8.4                         2.0  11195.000000   4447.701654   8050.0   9622.5
8.6                         1.0  75660.000000           NaN  75660.0  75660.0
8.7                         2.0  26800.000000  19728.279195  12850.0  19825.0
9.0                         1.0   9880.000000           NaN   9880.0   9880.0
9.1                         1.0  10570.000000           NaN  10570.0  10570.0
9.2                         1.0   9530.000000           NaN   9530.0   9530.0
9.3                         1.0  15830.000000           NaN  15830.0  15830.0
9.4                         1.0   2650.000000           NaN   2650.0   2650.0
9.6                         1.0   3750.000000           NaN   3750.0   3750.0
9.7                         1.0  15450.000000           NaN  15450.0  15450.0
10.0                        1.0  38590.000000           NaN  38590.0  38590.0
10.7                        1.0   7950.000000           NaN   7950.0   7950.0
10.9                        1.0  18080.000000           NaN  18080.0  18080.0
11.0                        1.0  26130.000000           NaN  26130.0  26130.0
11.4                        1.0   4120.000000           NaN   4120.0   4120.0
11.6                        1.0  12430.000000           NaN  12430.0  12430.0
12.0                        1.0   5100.000000           NaN   5100.0   5100.0
12.6                        3.0  10803.333333   4838.608615   5690.0   8550.0
13.3                        1.0  23860.000000           NaN  23860.0  23860.0
13.4                        0.0           NaN           NaN      NaN      NaN
13.6                        1.0  12000.000000           NaN  12000.0  12000.0
13.7                        1.0   8180.000000           NaN   8180.0   8180.0
14.0                        3.0   4083.333333    185.831465   3930.0   3980.0
14.3                        1.0   9780.000000           NaN   9780.0   9780.0
14.5                        1.0  14680.000000           NaN  14680.0  14680.0
15.0                        1.0   9830.000000           NaN   9830.0   9830.0
15.5                        1.0   3840.000000           NaN   3840.0   3840.0
15.6                        1.0   4510.000000           NaN   4510.0   4510.0
15.7                        2.0   7710.000000   3351.686143   5340.0   6525.0
15.8                        3.0   6853.333333   1999.408246   4730.0   5930.0
16.0                        1.0   6150.000000           NaN   6150.0   6150.0
16.2                        1.0   2230.000000           NaN   2230.0   2230.0
16.4                        1.0  11530.000000           NaN  11530.0  11530.0
16.6                        0.0           NaN           NaN      NaN      NaN
16.8                        1.0   4280.000000           NaN   4280.0   4280.0
16.9                        1.0  11730.000000           NaN  11730.0  11730.0
17.2                        1.0   6670.000000           NaN   6670.0   6670.0
17.4                        0.0           NaN           NaN      NaN      NaN
17.7                        1.0   4070.000000           NaN   4070.0   4070.0
18.1                        1.0   3890.000000           NaN   3890.0   3890.0
18.8                        1.0   3850.000000           NaN   3850.0   3850.0
19.1                        1.0  17640.000000           NaN  17640.0  17640.0
19.4                        1.0   2090.000000           NaN   2090.0   2090.0
20.0                        1.0   3260.000000           NaN   3260.0   3260.0
20.3                        1.0   2010.000000           NaN   2010.0   2010.0
20.6                        2.0   6520.000000   3266.833329   4210.0   5365.0
21.1                        0.0           NaN           NaN      NaN      NaN
21.5                        1.0   6000.000000           NaN   6000.0   6000.0
22.0                        1.0   1990.000000           NaN   1990.0   1990.0
22.2                        1.0   3150.000000           NaN   3150.0   3150.0
22.3                        1.0   1180.000000           NaN   1180.0   1180.0
22.5                        1.0   4780.000000           NaN   4780.0   4780.0
23.7                        1.0   3310.000000           NaN   3310.0   3310.0
25.5                        1.0   4800.000000           NaN   4800.0   4800.0
25.8                        1.0   2170.000000           NaN   2170.0   2170.0
26.2                        1.0   5620.000000           NaN   5620.0   5620.0
26.3                        1.0   1910.000000           NaN   1910.0   1910.0
27.3                        1.0   3440.000000           NaN   3440.0   3440.0
28.0                        2.0   3260.000000    367.695526   3000.0   3130.0
28.2                        0.0           NaN           NaN      NaN      NaN
29.5                        1.0   3610.000000           NaN   3610.0   3610.0
31.5                        1.0   6240.000000           NaN   6240.0   6240.0
32.0                        2.0   3810.000000   3874.945161   1070.0   2440.0
32.2                        1.0   5960.000000           NaN   5960.0   5960.0
33.0                        1.0   6760.000000           NaN   6760.0   6760.0
33.4                        1.0   4060.000000           NaN   4060.0   4060.0
33.6                        1.0   2340.000000           NaN   2340.0   2340.0
34.3                        1.0   3640.000000           NaN   3640.0   3640.0
35.2                        1.0   1690.000000           NaN   1690.0   1690.0
35.6                        1.0  11850.000000           NaN  11850.0  11850.0
36.1                        1.0    740.000000           NaN    740.0    740.0
36.3                        1.0   1190.000000           NaN   1190.0   1190.0
36.4                        1.0   4720.000000           NaN   4720.0   4720.0
38.2                        1.0   3000.000000           NaN   3000.0   3000.0
40.5                        1.0    710.000000           NaN    710.0    710.0
42.1                        1.0   6680.000000           NaN   6680.0   6680.0
44.1                        1.0   6100.000000           NaN   6100.0   6100.0
44.5                        1.0   1240.000000           NaN   1240.0   1240.0
45.2                        1.0   1600.000000           NaN   1600.0   1600.0
45.9                        0.0           NaN           NaN      NaN      NaN
48.0                        1.0   5280.000000           NaN   5280.0   5280.0
48.4                        1.0    420.000000           NaN    420.0    420.0
49.5                        1.0    980.000000           NaN    980.0    980.0
50.6                        1.0   8010.000000           NaN   8010.0   8010.0
51.0                        1.0   1310.000000           NaN   1310.0   1310.0
51.6                        1.0   2220.000000           NaN   2220.0   2220.0
52.6                        1.0   7120.000000           NaN   7120.0   7120.0
52.7                        1.0   1190.000000           NaN   1190.0   1190.0
55.3                        1.0   1140.000000           NaN   1140.0   1140.0
55.4                        1.0   2350.000000           NaN   2350.0   2350.0
55.9                        2.0   2010.000000   1895.046174    670.0   1340.0
56.2                        1.0   2920.000000           NaN   2920.0   2920.0
58.8                        1.0    910.000000           NaN    910.0    910.0
59.1                        1.0    340.000000           NaN    340.0    340.0
59.9                        1.0    890.000000           NaN    890.0    890.0
61.0                        1.0   1470.000000           NaN   1470.0   1470.0
61.3                        1.0    600.000000           NaN    600.0    600.0
66.1                        2.0   1780.000000    311.126984   1560.0   1670.0
66.2                        0.0           NaN           NaN      NaN      NaN
67.1                        1.0   2000.000000           NaN   2000.0   2000.0
67.5                        1.0    440.000000           NaN    440.0    440.0
68.9                        1.0    810.000000           NaN    810.0    810.0
70.1                        1.0    380.000000           NaN    380.0    380.0
71.3                        1.0   3280.000000           NaN   3280.0   3280.0
73.2                        1.0    590.000000           NaN    590.0    590.0
74.6                        1.0    280.000000           NaN    280.0    280.0
75.1                        1.0    580.000000           NaN    580.0    580.0
75.8                        1.0    790.000000           NaN    790.0    790.0
78.0                        1.0    540.000000           NaN    540.0    540.0
81.0                        1.0   1430.000000           NaN   1430.0   1430.0
83.3                        1.0   1470.000000           NaN   1470.0   1470.0
83.9                        1.0   1230.000000           NaN   1230.0   1230.0
86.5                        1.0   4040.000000           NaN   4040.0   4040.0
88.5                        1.0    620.000000           NaN    620.0    620.0
91.3                        1.0    620.000000           NaN    620.0    620.0
92.0                        1.0    690.000000           NaN    690.0    690.0
93.8                        1.0    820.000000           NaN    820.0    820.0
94.0                        1.0   9510.000000           NaN   9510.0   9510.0
95.0                        1.0    390.000000           NaN    390.0    390.0
95.1                        1.0   1490.000000           NaN   1490.0   1490.0
97.6                        1.0    430.000000           NaN    430.0    430.0
97.9                        1.0   1320.000000           NaN   1320.0   1320.0
100.3                       1.0    870.000000           NaN    870.0    870.0
108.0                       1.0   2850.000000           NaN   2850.0   2850.0
114.2                       1.0    790.000000           NaN    790.0    790.0
118.8                       1.0    550.000000           NaN    550.0    550.0
128.8                       1.0    360.000000           NaN    360.0    360.0
130.9                       1.0    880.000000           NaN    880.0    880.0
136.7                       0.0           NaN           NaN      NaN      NaN


                      50%      75%      max
Infant_Mortality
2.2               50260.0  50260.0  50260.0
2.4               34390.0  40460.0  46530.0
2.5               73530.0  73530.0  73530.0
2.7               52740.0  73300.0  93860.0
2.8                   NaN      NaN      NaN
2.9               57760.0  57760.0  57760.0
3.0               38780.0  38780.0  38780.0
3.1               18300.0  18300.0  18300.0
3.2               18130.0  18130.0  18130.0
3.4               30695.0  31832.5  32970.0
3.5               23845.0  25547.5  27250.0
3.6               47610.0  47610.0  47610.0
3.7               51290.0  51290.0  51290.0
3.8               36080.0  48205.0  60330.0
3.9               45790.0  47410.0  49030.0
4.0               25530.0  34935.0  44340.0
4.1               45925.0  65247.5  84570.0
4.3               60300.0  60300.0  60300.0
4.4               43720.0  43720.0  43720.0
4.8               12810.0  12810.0  12810.0
4.9               13340.0  13340.0  13340.0
5.0               14970.0  14970.0  14970.0
5.1               31185.0  39217.5  47250.0
5.4               12960.0  12960.0  12960.0
5.6               40250.0  40250.0  40250.0
6.0               17560.0  17560.0  17560.0
6.1                5050.0   5050.0   5050.0
6.2                5540.0   5540.0   5540.0
6.6               56250.0  56250.0  56250.0
6.9               24780.0  24780.0  24780.0
7.7               22660.0  22660.0  22660.0
7.8               42910.0  42910.0  42910.0
8.0               11660.0  11660.0  11660.0
8.2                8965.0   9707.5  10450.0
8.4               11195.0  12767.5  14340.0
8.6               75660.0  75660.0  75660.0
8.7               26800.0  33775.0  40750.0
9.0                9880.0   9880.0   9880.0
9.1               10570.0  10570.0  10570.0
9.2                9530.0   9530.0   9530.0
9.3               15830.0  15830.0  15830.0
9.4                2650.0   2650.0   2650.0
9.6                3750.0   3750.0   3750.0
9.7               15450.0  15450.0  15450.0
10.0              38590.0  38590.0  38590.0
10.7               7950.0   7950.0   7950.0
10.9              18080.0  18080.0  18080.0
11.0              26130.0  26130.0  26130.0
11.4               4120.0   4120.0   4120.0
11.6              12430.0  12430.0  12430.0
12.0               5100.0   5100.0   5100.0
12.6              11410.0  13360.0  15310.0
13.3              23860.0  23860.0  23860.0
13.4                  NaN      NaN      NaN
13.6              12000.0  12000.0  12000.0
13.7               8180.0   8180.0   8180.0
14.0               4030.0   4160.0   4290.0
14.3               9780.0   9780.0   9780.0
14.5              14680.0  14680.0  14680.0
15.0               9830.0   9830.0   9830.0
15.5               3840.0   3840.0   3840.0
15.6               4510.0   4510.0   4510.0
15.7               7710.0   8895.0  10080.0
15.8               7130.0   7915.0   8700.0
16.0               6150.0   6150.0   6150.0
16.2               2230.0   2230.0   2230.0
16.4              11530.0  11530.0  11530.0
16.6                  NaN      NaN      NaN
16.8               4280.0   4280.0   4280.0
16.9              11730.0  11730.0  11730.0
17.2               6670.0   6670.0   6670.0
17.4                  NaN      NaN      NaN
17.7               4070.0   4070.0   4070.0
18.1               3890.0   3890.0   3890.0
18.8               3850.0   3850.0   3850.0
19.1              17640.0  17640.0  17640.0
19.4               2090.0   2090.0   2090.0
20.0               3260.0   3260.0   3260.0
20.3               2010.0   2010.0   2010.0
20.6               6520.0   7675.0   8830.0
21.1                  NaN      NaN      NaN
21.5               6000.0   6000.0   6000.0
22.0               1990.0   1990.0   1990.0
22.2               3150.0   3150.0   3150.0
22.3               1180.0   1180.0   1180.0
22.5               4780.0   4780.0   4780.0
23.7               3310.0   3310.0   3310.0
25.5               4800.0   4800.0   4800.0
25.8               2170.0   2170.0   2170.0
26.2               5620.0   5620.0   5620.0
26.3               1910.0   1910.0   1910.0
27.3               3440.0   3440.0   3440.0
28.0               3260.0   3390.0   3520.0
28.2                  NaN      NaN      NaN
29.5               3610.0   3610.0   3610.0
31.5               6240.0   6240.0   6240.0
32.0               3810.0   5180.0   6550.0
32.2               5960.0   5960.0   5960.0
33.0               6760.0   6760.0   6760.0
33.4               4060.0   4060.0   4060.0
33.6               2340.0   2340.0   2340.0
34.3               3640.0   3640.0   3640.0
35.2               1690.0   1690.0   1690.0
35.6              11850.0  11850.0  11850.0
36.1                740.0    740.0    740.0
36.3               1190.0   1190.0   1190.0
36.4               4720.0   4720.0   4720.0
38.2               3000.0   3000.0   3000.0
40.5                710.0    710.0    710.0
42.1               6680.0   6680.0   6680.0
44.1               6100.0   6100.0   6100.0
44.5               1240.0   1240.0   1240.0
45.2               1600.0   1600.0   1600.0
45.9                  NaN      NaN      NaN
48.0               5280.0   5280.0   5280.0
48.4                420.0    420.0    420.0
49.5                980.0    980.0    980.0
50.6               8010.0   8010.0   8010.0
51.0               1310.0   1310.0   1310.0
51.6               2220.0   2220.0   2220.0
52.6               7120.0   7120.0   7120.0
52.7               1190.0   1190.0   1190.0
55.3               1140.0   1140.0   1140.0
55.4               2350.0   2350.0   2350.0
55.9               2010.0   2680.0   3350.0
56.2               2920.0   2920.0   2920.0
58.8                910.0    910.0    910.0
59.1                340.0    340.0    340.0
59.9                890.0    890.0    890.0
61.0               1470.0   1470.0   1470.0
61.3                600.0    600.0    600.0
66.1               1780.0   1890.0   2000.0
66.2                  NaN      NaN      NaN
67.1               2000.0   2000.0   2000.0
67.5                440.0    440.0    440.0
68.9                810.0    810.0    810.0
70.1                380.0    380.0    380.0
71.3               3280.0   3280.0   3280.0
73.2                590.0    590.0    590.0
74.6                280.0    280.0    280.0
75.1                580.0    580.0    580.0
75.8                790.0    790.0    790.0
78.0                540.0    540.0    540.0
81.0               1430.0   1430.0   1430.0
83.3               1470.0   1470.0   1470.0
83.9               1230.0   1230.0   1230.0
86.5               4040.0   4040.0   4040.0
88.5                620.0    620.0    620.0
91.3                620.0    620.0    620.0
92.0                690.0    690.0    690.0
93.8                820.0    820.0    820.0
94.0               9510.0   9510.0   9510.0
95.0                390.0    390.0    390.0
95.1               1490.0   1490.0   1490.0
97.6                430.0    430.0    430.0
97.9               1320.0   1320.0   1320.0
100.3               870.0    870.0    870.0
108.0              2850.0   2850.0   2850.0
114.2               790.0    790.0    790.0
118.8               550.0    550.0    550.0

## Obtaining descriptive statistics with different percentile

In [23]:
dfRate.describe(percentiles=[0.25,0.33,0.66,0.50,0.75,0.95,0.99])

       Literacy_Rate
count     147.000000
mean       82.469388
std        18.555473
min        29.000000
25%        71.000000
33%        78.000000
50%        90.000000
66%        95.000000
75%        98.000000
95%       100.000000
99%       100.000000
max       100.000000

In [24]:
dfMortality.describe(percentiles=[0.25,0.33,0.66,0.50,0.75,0.95,0.99])

       GNI_PER_CAPITA  Infant_Mortality
count      185.000000        193.000000
mean     13834.108108         31.427979
std      19036.340801         31.317277
min        280.000000          2.200000
25%       2000.000000          8.200000
33%       3229.200000         10.772000
50%       5540.000000         17.400000
66%      10502.800000         33.288000
75%      15310.000000         49.500000
95%      55548.000000         95.040000
99%      82957.200000        128.968000
max      93860.000000        136.700000

## Find the top five literacy rate

In [25]:
TopfiveLiteracyRates= dfRate.nlargest(5,'Literacy_Rate')

In [28]:
TopfiveLiteracyRates.head(7)

                                  Country  Literacy_Rate
5                                 Armenia            100
6                              Azerbaijan            100
9                                 Belarus            100
33                                   Cuba            100
35  Democratic People's Republic of Korea            100
45                                Estonia            100
49                                Georgia            100

## Find the bottom five literacy rates

In [30]:
BottomfiveLiteracyRates= dfRate.nsmallest(5,'Literacy_Rate')

In [31]:
BottomfiveLiteracyRates.head(7)

         Country  Literacy_Rate
18  Burkina Faso             29
93         Niger             29
18  Burkina Faso             29
93         Niger             29
80          Mali             31
25          Chad             34
46      Ethiopia             39

## Measure of center of the data

## Sample Mean

In [36]:
Mean=dfRate['Literacy_Rate'].mean()
print("The mean is ",round(Mean,2))

The mean is  82.47

In [37]:
print(Mean)

82.46938775510205

In [38]:
Mean

82.46938775510205

## The Sample Median

In [40]:
Median=dfRate['Literacy_Rate'].median()
print("The median is ",round(Median,2))

The median is  90.0

In [41]:
Median

90.0

## Measure of spread or variation of data

## Mean Absolute Deviation

In [43]:
Mad=dfRate['Literacy_Rate'].mad()
print("The MAD value is ",round(Mad,2))

The MAD value is  15.52

## Sample Variance

In [44]:
# Computes the sample standard deviation with a default ddof=1
VAR=dfRate['Literacy_Rate'].var()
print("The sample VAR value is ",round(VAR,2))

The sample VAR value is  344.31

## Population Variance

In [45]:
# computes the population variance with a default ddof=1
pVAR=dfRate['Literacy_Rate'].var(ddof=0)
print("The population VAR is ",round(pVAR,2))

The population VAR is  341.96

## Sample Standard Deviation

In [47]:
# Computes the sample standard deviation with a default ddof=1
STD= dfRate['Literacy_Rate'].std()
print("The Sample std values is ",round(STD,2))

The Sample std values is  18.56

## Population Standard deviation

In [48]:
# computes the population standard deviation with a ddof=0
pSTD= dfRate['Literacy_Rate'].std(ddof=0)
print("The Population std value is ",round(pSTD,2))

The Population std value is  18.49

# Analyzing Baseball players data with Pandas in Python 3

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("C:\\Users\\HP\\Downloads\\BaseballPlayers.csv")

In [6]:
df.head(20)

   Team           Position  Weight    Age
0   BAL            Catcher   180.0  22.99
1   BAL            Catcher   215.0  34.69
2   BAL            Catcher   210.0  30.78
3   BAL      First_Baseman   210.0  35.43
4   BAL      First_Baseman   188.0  35.71
5   BAL     Second_Baseman   176.0  29.39
6   BAL          Shortstop   209.0  30.77
7   BAL      Third_Baseman   200.0  35.07
8   BAL      Third_Baseman   231.0  30.19
9   BAL         Outfielder   180.0  27.05
10  BAL         Outfielder   188.0  23.88
11  BAL         Outfielder   180.0  26.96
12  BAL         Outfielder   185.0  23.29
13  BAL         Outfielder   160.0  26.11
14  BAL         Outfielder   180.0  27.55
15  BAL         Outfielder   185.0  34.27
16  BAL  Designated_Hitter   197.0  30.00
17  BAL   Starting_Pitcher   189.0  27.99
18  BAL   Starting_Pitcher   185.0  22.38
19  BAL   Starting_Pitcher   219.0  22.89

## Objective: Summarize baseball players data by position and:

In [7]:
bygroup_team = df.groupby(['Position'])['Weight']

In [8]:
df2 = bygroup_team.aggregate(['count', 'min', 'max', 'mean', 'median', 'std', 'mad', 'skew']).round(1)

In [9]:
df2.columns = ['Count', 'Min', 'Max', 'Mean', 'Median', 'std', 'MAD', 'Skewness']

In [10]:
df2

                   Count    Min    Max   Mean  Median   std   MAD  Skewness
Position
Catcher               76  170.0  245.0  204.3   205.0  15.7  13.0       0.1
Designated_Hitter     18  195.0  275.0  220.9   224.5  22.1  17.8       0.8
First_Baseman         55  180.0  260.0  213.1   220.0  19.0  15.6      -0.0
Outfielder           194  160.0  257.0  199.1   200.0  18.4  14.9       0.1
Relief_Pitcher       315  150.0  278.0  203.5   200.0  21.7  17.2       0.3
Second_Baseman        58  160.0  210.0  184.3   185.0  11.0   8.5      -0.0
Shortstop             52  150.0  210.0  182.9   180.0  14.5  12.0      -0.1
Starting_Pitcher     220  150.0  290.0  205.2   205.0  22.1  17.5       0.4
Third_Baseman         45  155.0  240.0  201.0   200.0  18.1  14.0      -0.1

## computing descriptive statistics in Python Pandas Part2

In [11]:
import pandas as pd
pd.set_option('display.max_rows',1000)

### Advantages using Pandas statistical functions Missing values are removed prior to computations

In [12]:
dfRate = pd.read_csv("C:\\Users\\HP\\Downloads\\World2017literacyRate.csv",encoding='latin1')

In [13]:
dfMortality = pd.read_csv("C:\\Users\\HP\\Downloads\\InfantMortalityGNI.csv",encoding='latin1')

In [14]:
dfRate.head()

               Country  Literacy_Rate
0              Albania             96
1              Algeria             73
2               Angola             70
3  Antigua and Barbuda             99
4            Argentina             98

In [15]:
dfMortality.head()

     Countries  GNI_PER_CAPITA  Infant_Mortality
0  Afghanistan           590.0              73.2
1      Albania          4290.0              14.0
2      Algeria          4800.0              25.5
3      Andorra             NaN               2.8
4       Angola          4040.0              86.5

## Correlation with Pandas {‘pearson’, ‘kendall’, ‘spearman’} default is pearson

### Pearson Correlation Coefficient

## 1. Normal distribution
## 2. Linear Assumption
## 3. No outliers in data

In [16]:
dfMortality.corr()

                  GNI_PER_CAPITA  Infant_Mortality
GNI_PER_CAPITA          1.000000         -0.510167
Infant_Mortality       -0.510167          1.000000

In [18]:
dfMortality.corr("pearson")

                  GNI_PER_CAPITA  Infant_Mortality
GNI_PER_CAPITA          1.000000         -0.510167
Infant_Mortality       -0.510167          1.000000

## Spearman rank correlation

### 1. is a nonparametric test
### 2. Assumption of a monotonic relationship
### 3. is less sensitive to outliers than Pearson's corr

In [19]:
dfMortality.corr("spearman")

                  GNI_PER_CAPITA  Infant_Mortality
GNI_PER_CAPITA            1.0000           -0.8695
Infant_Mortality         -0.8695            1.0000

## Kendal Tau rank

### 1. Is nonparametric equivalent
### 2. Requires a monotonic relationship

In [21]:
dfMortality.corr("kendall")

                  GNI_PER_CAPITA  Infant_Mortality
GNI_PER_CAPITA           1.00000          -0.67478
Infant_Mortality        -0.67478           1.00000

### Other Statistical functions available with PANDAS Fisher’s definition of kurtosis (kurtosis of normal == 0.0

In [22]:
Count = dfRate['Literacy_Rate'].count()
Min   = dfRate['Literacy_Rate'].min()
Max   = dfRate['Literacy_Rate'].max()
Mode  = dfRate['Literacy_Rate'].mode()
SEM   = dfRate['Literacy_Rate'].sem()
Skew = dfRate['Literacy_Rate'].skew()
Kurtosis = dfRate['Literacy_Rate'].kurt()

In [23]:
print("The count of observations is: ",Count)
print("The minimum observation is: ",Min)
print("The maximum observation is: ",Max)
print("The mode is:",Mode)
print("The standard error of the mean is: ",SEM)
print("The kurtosis is: ", round(Kurtosis,2))

The count of observations is:  147
The minimum observation is:  29
The maximum observation is:  100
The mode is: 0    100
dtype: int64
The standard error of the mean is:  1.5304295856
The kurtosis is:  0.27

## Computing percentiles within Pandas

In [24]:
Percentile25th= dfRate['Literacy_Rate'].quantile(0.25,interpolation='linear') # to match numpy percentile

In [25]:
Percentile25th

71.0

In [26]:
dfRate.describe()

       Literacy_Rate
count     147.000000
mean       82.469388
std        18.555473
min        29.000000
25%        71.000000
50%        90.000000
75%        98.000000
max       100.000000

## Ranking data within Pandas 
### method : {‘average’, ‘min’, ‘max’, ‘first’, ‘dense’}
    average: average rank of group
    min: lowest rank in group
    max: highest rank in group
    first: ranks assigned in order they appear in the array
    dense: like ‘min’, but rank always increases by 1 between groups

In [27]:
dfRate['Rank']=dfRate['Literacy_Rate'].rank(method='min',ascending=False,pct=False)

In [31]:
dfRate.head()

               Country  Literacy_Rate   Rank
0              Albania             96   42.0
1              Algeria             73  104.0
2               Angola             70  112.0
3  Antigua and Barbuda             99   17.0
4            Argentina             98   28.0

In [32]:
dfRate['Rank']=dfRate['Literacy_Rate'].rank(method='first',ascending=False,pct=False)

In [34]:
dfRate.head(20)

                             Country  Literacy_Rate   Rank
0                            Albania             96   42.0
1                            Algeria             73  104.0
2                             Angola             70  112.0
3                Antigua and Barbuda             99   17.0
4                          Argentina             98   28.0
5                            Armenia            100    1.0
6                         Azerbaijan            100    2.0
7                            Bahrain             92   65.0
8                         Bangladesh             57  128.0
9                            Belarus            100    3.0
10                             Benin             42  140.0
11                            Bhutan             53  136.0
12  Bolivia (Plurinational State of)             91   70.0
13            Bosnia and Herzegovina             98   29.0
14                          Botswana             84   92.0
15                            Brazil             90   73.0
16                 Brunei Darussalam             95   47.0
17                          Bulgaria             98   30.0
18                      Burkina Faso             29  146.0
19                           Burundi             67  115.0

## Computing correlation coefficient with Python Scipy library

In [35]:
import pandas as pd
import scipy.stats as sp

In [36]:
df = pd.read_csv("C:\\Users\\HP\\Downloads\\InfantMortalityGNI.csv",encoding='latin1')

In [37]:
df.head()

     Countries  GNI_PER_CAPITA  Infant_Mortality
0  Afghanistan           590.0              73.2
1      Albania          4290.0              14.0
2      Algeria          4800.0              25.5
3      Andorra             NaN               2.8
4       Angola          4040.0              86.5

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 3 columns):
Countries           197 non-null object
GNI_PER_CAPITA      185 non-null float64
Infant_Mortality    193 non-null float64
dtypes: float64(2), object(1)
memory usage: 4.7+ KB

### Computing a pearson correlation

## Need to remove missing values by dropping them from dataframe first

In [39]:
# drop all missing values
df.dropna(inplace=True)
x = df['GNI_PER_CAPITA']
y = df['Infant_Mortality']
(corr_pearson, pvalue) = sp.pearsonr(x, y)
print("The Pearson correlation is:", round(corr_pearson,2))
print("The p-value is:", round(pvalue,10))

The Pearson correlation is: -0.51
The p-value is: 0.0

## Computing a Kendall Tau correlation with SCIPY

### We can either drop the missing values from df or use nan_policy = "Omit"

In [40]:
corr_kendall, pvalue = sp.kendalltau(x, y, nan_policy="omit")

In [41]:
print("The Kendall tau correlation is:", round( corr_kendall,2))

The Kendall tau correlation is: -0.67

## Computing a Spearman Rank correlation

## We can either drop the missing values from df or use nan_policy = "Omit"

In [42]:
(spearman_corr, pvalue) = sp.spearmanr(x,y,nan_policy='omit')
print("The Spearman correlation is:", round(spearman_corr,2))
print("The p-value is:", round(pvalue,10))

The Spearman correlation is: -0.87
The p-value is: 0.0

## Computing the coefficient of variation in Python in scipy statistics library

In [46]:
import scipy.stats as sp

## Computing the coefficient of variation
    variation(a[, axis, nan_policy]) 
    It is using the population standard deviation as supposed to the sample standard deviation 
    Sample1: Weights of goats in kg: 30, 34, 29, 45, 50, 28, 29, 32 
    Sample2: Temp in Fahrenheit: 60, 45, 70, 72, 43, 40, 78, 49

In [49]:
goats=[30,34,29,45,50,28,29,32]

In [50]:
temp=[60,45,70,72,43,40,78,49]

In [55]:
CVgoats= sp.variation(goats,nan_policy="omit")

In [56]:
CVtemp= sp.variation(temp, nan_policy="omit")

In [57]:
CVgoats

0.22368109855104215

In [58]:
CVtemp

0.24263199350532696

## classifying world literacy rate using Pandas libraries i pYthhon

In [82]:
import pandas as pd
import numpy as np
import scipy.stats as sp

In [83]:
df2= pd.read_csv("C:\\Users\\HP\\Downloads\\World2017literacyRate.csv",encoding='latin1')

In [84]:
df2.head()

               Country  Literacy_Rate
0              Albania             96
1              Algeria             73
2               Angola             70
3  Antigua and Barbuda             99
4            Argentina             98

In [85]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 2 columns):
Country          147 non-null object
Literacy_Rate    147 non-null int64
dtypes: int64(1), object(1)
memory usage: 2.4+ KB

## Application goal: Use scipy stats percentileofscore and Pandas qcut to: 
    Add percentile value for each literacy rate and country
    Classify the data using the same percentiles into Low, Medium and High terciles groups
    We will use sp.percentileofscore(x,a,kind='weak)

In [86]:
x = df2['Literacy_Rate']

In [87]:
df2['Percentile']=[sp.percentileofscore(x,a,kind='weak')for a in x]

In [88]:
df2.head()

               Country  Literacy_Rate  Percentile
0              Albania             96   72.108844
1              Algeria             73   29.931973
2               Angola             70   24.489796
3  Antigua and Barbuda             99   89.115646
4            Argentina             98   81.632653

In [89]:
df2=df2.sort_values(by=['Percentile'],ascending=True)

In [90]:
df2.head()

         Country  Literacy_Rate  Percentile
18  Burkina Faso             29    1.360544
93         Niger             29    1.360544
80          Mali             31    2.040816
25          Chad             34    2.721088
46      Ethiopia             39    3.401361

In [91]:
df2['Classification']=pd.qcut(df2['Literacy_Rate'],3,labels=['Low','Middle','High'])

In [92]:
df2.head(20)

                      Country  Literacy_Rate  Percentile Classification
18               Burkina Faso             29    1.360544            Low
93                      Niger             29    1.360544            Low
80                       Mali             31    2.040816            Low
25                       Chad             34    2.721088            Low
46                   Ethiopia             39    3.401361            Low
53                     Guinea             41    4.081633            Low
115              Sierra Leone             42    5.442177            Low
10                      Benin             42    5.442177            Low
55                      Haiti             49    6.122449            Low
48                     Gambia             50    7.482993            Low
112                   Senegal             50    7.482993            Low
11                     Bhutan             53    8.163265            Low
54              Guinea-Bissau             54    8.843537            Low
96                   Pakistan             55    9.523810            Low
31              Cote d'Ivoire             56   12.244898            Low
88                 Mozambique             56   12.244898            Low
87                    Morocco             56   12.244898            Low
24   Central African Republic             56   12.244898            Low
130                      Togo             57   13.605442            Low
8                  Bangladesh             57   13.605442            Low

In [95]:
df3= df2.groupby(['Classification'])['Literacy_Rate']

In [96]:
df4=df3.aggregate(['count','min','max','median','std','mad','skew']).round(1)

In [97]:
df4

                count  min  max  median   std   mad  skew
Classification
Low                51   29   78      61  13.3  10.6  -0.8
Middle             50   83   95      91   3.5   2.9  -0.6
High               46   96  100      99   1.3   1.1  -0.7

## Finding outliers in data using Python Pandas library with quantiles functions

In [124]:
import pandas as pd

In [125]:
#Finding outliers in the data 
#Lower fence = Q1 -1.5IQR 
#Upper fence = Q3 + 1.5IQR 
#Outliers fall outside of the fences

In [126]:
df5=pd.read_csv("C:\\Users\\HP\\Downloads\\InfantMortalityGNI.csv",encoding='latin1')

In [127]:
df5.head()

     Countries  GNI_PER_CAPITA  Infant_Mortality
0  Afghanistan           590.0              73.2
1      Albania          4290.0              14.0
2      Algeria          4800.0              25.5
3      Andorra             NaN               2.8
4       Angola          4040.0              86.5

In [128]:
df5.drop('GNI_PER_CAPITA',axis=1,inplace=True)

In [129]:
df5.head()

     Countries  Infant_Mortality
0  Afghanistan              73.2
1      Albania              14.0
2      Algeria              25.5
3      Andorra               2.8
4       Angola              86.5

## Compute the quartiles and fences in Pandas

In [130]:
Q1= df['Infant_Mortality'].quantile(0.25,interpolation='linear')

In [131]:
Q3=df['Infant_Mortality'].quantile(0.75,interpolation='linear')

In [132]:
IQR=Q3-Q1

In [133]:
Lowerfence= Q1-1.5*IQR
Upperfence= Q3+1.5*IQR

In [134]:
Q1

8.2

In [135]:
Q3

50.6

In [136]:
IQR

42.400000000000006

In [137]:
Lowerfence

-55.400000000000006

In [138]:
Upperfence

114.20000000000002

In [146]:
OUTLIERS= df5.loc[(df5['Infant_Mortality']< Lowerfence)| (df5['Infant_Mortality']> Upperfence)]

In [147]:
NORMAL= df5.loc[(df5['Infant_Mortality']>Lowerfence) & (df5['Infant_Mortality']< Upperfence)]

In [148]:
OUTLIERS

                    Countries  Infant_Mortality
32   Central African Republic             128.8
33                       Chad             130.9
153              Sierra Leone             118.8
158                   Somalia             136.7

In [149]:
NORMAL.head()

     Countries  Infant_Mortality
0  Afghanistan              73.2
1      Albania              14.0
2      Algeria              25.5
3      Andorra               2.8
4       Angola              86.5

## Compare descriptive statistics using all data with outliers and the data without outliers

In [150]:
df5.describe().unstack()

Infant_Mortality  count    193.000000
                  mean      31.427979
                  std       31.317277
                  min        2.200000
                  25%        8.200000
                  50%       17.400000
                  75%       49.500000
                  max      136.700000
dtype: float64

In [151]:
NORMAL.describe().unstack()

Infant_Mortality  count    189.000000
                  mean      29.367196
                  std       28.191356
                  min        2.200000
                  25%        8.000000
                  50%       16.900000
                  75%       45.900000
                  max      114.200000
dtype: float64