### Computing statistics with missing values using the statistics library in Python

In [1]:
import pandas as pd
import statistics as stats

In [ ]:
df=pd.read_csv("C:\\Users\\HP\Downloads\\InfantMortalityGNI.csv",encoding='latin1')

In [ ]:
df.head(5)

## Compute descriptive statistics functions using the statistics library

In [10]:
dfmissing= df[df.isnull().any(axis=1)]

In [11]:
dfmissing.head(10)

                     Countries  GNI_PER_CAPITA  Infant_Mortality
3                      Andorra             NaN               2.8
43                        Cuba             NaN               5.6
47                    Djibouti             NaN              66.2
54                     Eritrea             NaN              45.9
73        Hong Kong SAR, China         41100.0               NaN
81                 Isle of Man         82650.0               NaN
90   Korea, Dem. Peoples Rep.             NaN              21.1
92                      Kosovo          3980.0               NaN
100                      Libya             NaN              13.4
103           Macao SAR, China         64580.0               NaN

In [12]:
Mean= stats.mean(df['Infant_Mortality'])

In [13]:
Mean

nan

In [14]:
stats.stdev(df['Infant_Mortality'])

nan

## Handling missing values using the statistics library in Python

In [16]:
import pandas as pd
import statistics as stats
import numpy as np

In [17]:
df2=pd.read_csv("C:\\Users\\HP\Downloads\\InfantMortalityGNI.csv",encoding='latin1')

In [18]:
df2.head()

     Countries  GNI_PER_CAPITA  Infant_Mortality
0  Afghanistan           590.0              73.2
1      Albania          4290.0              14.0
2      Algeria          4800.0              25.5
3      Andorra             NaN               2.8
4       Angola          4040.0              86.5

### count how many missing values each column has

In [28]:
df2.isnull().head(5)

  Countries GNI_PER_CAPITA Infant_Mortality
0     False          False            False
1     False          False            False
2     False          False            False
3     False           True            False
4     False          False            False

In [29]:
df.isnull().sum()

Countries            0
GNI_PER_CAPITA      12
Infant_Mortality     4
dtype: int64

In [27]:
df2.notnull().head(5)

  Countries GNI_PER_CAPITA Infant_Mortality
0      True           True             True
1      True           True             True
2      True           True             True
3      True          False             True
4      True           True             True

In [30]:
Mean= stats.mean(df2['Infant_Mortality'])
print("The mean value is: ",Mean)

The mean value is:  nan

### Calculate the median of Infant mortality Why did this work? Is it correctly calculated ?NO !!!!!!!!!!!!!

In [33]:
Median= stats.median(df2['Infant_Mortality'])
print("The Median value is: ",Median)

The Median value is:  2.5

### Now we resolve the issue of missing data before computing

In [35]:
Mean= stats.mean(df2['Infant_Mortality'].dropna())
print("The mean value is: ",round(Mean,2))

The mean value is:  31.43

In [38]:
Sample_Stdev = stats.stdev(df2['Infant_Mortality'].dropna())
print("The sample standard deviation value is: ",round(Sample_Stdev,2))

The sample standard deviation value is:  31.32

In [39]:
Population_Stdev= stats.pstdev(df2['Infant_Mortality'].dropna())
print("The population standard deviation value is: ",round(Population_Stdev,2))

The population standard deviation value is:  31.24

In [40]:
try:
    Mode=stats.mode(df2['Infant_Mortality'].dropna())
    print("The mode value is: ",Mode)
except stats.StatisticsError:
    print("There is no model")

There is no model

In [45]:
Median= stats.median(df2['Infant_Mortality'].dropna())
print("The median vlaue is: ",Median)

The median vlaue is:  17.4

In [46]:
Median_Low= stats.median_low(df2['Infant_Mortality'].dropna())
print("The median low vlaue is: ",Median_Low)

The median low vlaue is:  17.4

In [47]:
Median_High= stats.median_high(df2['Infant_Mortality'].dropna())
print("The median vlaue is: ",Median_High)

The median vlaue is:  17.4

In [48]:
Sample_Variance= stats.variance(df2['Infant_Mortality'].dropna())
print("The sample variance value is: ", Sample_Variance)

The sample variance value is:  980.77181725

In [49]:
Population_Variance= stats.pvariance(df2['Infant_Mortality'].dropna())
print("The sample variance value is: ", Population_Variance)

The sample variance value is:  975.690097989

## Computing various medians using the Statistics Library in Python

In [50]:
import statistics as stats

In [51]:
data= [5,7,4,5,20,6,2,40,60,15]

In [52]:
data

[5, 7, 4, 5, 20, 6, 2, 40, 60, 15]

In [53]:
Median= stats.median(data)

In [54]:
Median

6.5

In [56]:
data.sort()

In [57]:
data

[2, 4, 5, 5, 6, 7, 15, 20, 40, 60]

In [58]:
stats.median_low(data)

6

In [59]:
stats.median_high(data)

7

## Handling missing values in Numpy library in Python

In [60]:
import pandas as pd
import numpy as np

## Optimized for speed since the functions are written in C and wrapped in Python
### Numpy stats functions: when missing values are in the column, use function name with nan

#### the mean, median, var, std, percentile, min, max, sum 
### We use: 

mean    (nanmean)
median     (nanmedian)
var     (nanvar)
std     (nanstd)
percentile    (nanpercentile)
min     (nanmin)
max     (nanmax)
sum     (nansum)

In [61]:
data= [75,90,85,90,np.nan]

In [62]:
np.mean(data)

nan

In [63]:
np.nanmean(data)

85.0

In [64]:
np.nanmin(data)

75.0

In [65]:
np.nanmax(data)

90.0

In [66]:
np.nanstd(data)

6.1237243569579451

## Using a dataframe with missing values

In [67]:
df4=pd.read_csv("C:\\Users\\HP\Downloads\\InfantMortalityGNI.csv",encoding='latin1')

In [68]:
df4.head()

     Countries  GNI_PER_CAPITA  Infant_Mortality
0  Afghanistan           590.0              73.2
1      Albania          4290.0              14.0
2      Algeria          4800.0              25.5
3      Andorra             NaN               2.8
4       Angola          4040.0              86.5

In [69]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 3 columns):
Countries           197 non-null object
GNI_PER_CAPITA      185 non-null float64
Infant_Mortality    193 non-null float64
dtypes: float64(2), object(1)
memory usage: 4.7+ KB

### List the columns in the dataframe that have missing values

In [70]:
df4.isnull().sum()

Countries            0
GNI_PER_CAPITA      12
Infant_Mortality     4
dtype: int64

## Since GNI PER CAPITA has missing values NAN, we get a NaN when using percentile

In [73]:
Tenpercentile = np.percentile(df4['GNI_PER_CAPITA'], 10)
print("The 10th percentile is:", Tenpercentile)

The 10th percentile is: nan

C:\Users\HP\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

In [74]:
tenpct = np.nanpercentile(df['GNI_PER_CAPITA'],10)

In [75]:
tenpct

760.00000000000011

In [76]:
tenpct2 = np.percentile(df4['GNI_PER_CAPITA'].dropna(), 10)

In [77]:
tenpct2

760.00000000000011

## Now we replace percentile with nanpercentile for computation

In [78]:
Tenpercentile = np.nanpercentile(df['GNI_PER_CAPITA'], 10)
print("The 10th percentile is:", Tenpercentile)

The 10th percentile is: 760.0

## Calculate the median Infant_Mortality

In [79]:
Median = np.nanmedian(df['Infant_Mortality'])
Median

17.399999999999999

### Calculate the sample standard deviation of Infant_Mortality
## $S=\sqrt{\frac{\sum{{{\left( x-\overline{x} \right)}^{2}}}}{n-1}}$

when using std, by defaut ddof = 0 (computes the population variance)

In [80]:
Sample_std = np.nanstd(df['Infant_Mortality'], ddof=1)
Sample_std

31.317276657614535

## Calculate the population standard deviation of Infant_Mortality
## $S=\sqrt{\frac{\sum{{{\left( x-\overline{x} \right)}^{2}}}}{n}}$

In [81]:
Pop_std = np.nanstd(df['Infant_Mortality'], ddof=0)
Pop_std

31.236038449028836

### Calculating weighting average

In [86]:
TestResults = pd.read_csv("C:\\Users\\HP\\Downloads\\Weighted-Scores.csv",encoding='latin1')

In [88]:
TestResults.head()

                 Subjects  Score  Weights
0  Descriptive Statistics     80        3
1             Probability     65        2
2     Regression Analysis     75        3
3                 English     88        2
4                  French     70        1

In [89]:
TestResults.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
Subjects    10 non-null object
Score       10 non-null int64
Weights     10 non-null int64
dtypes: int64(2), object(1)
memory usage: 320.0+ bytes

## Compute unweighted mean

In [91]:
Unweighted_Mean = np.average(TestResults['Score'])
print("The unweighted mean is", Unweighted_Mean)

The unweighted mean is 77.2

### Compute weighted mean

In [92]:
Weighted_Mean = np.average(TestResults['Score'], weights=TestResults['Weights'])
print("The weighted mean is", Weighted_Mean)

The weighted mean is 77.8076923077