## Computing Descriptive Statistics in Python Scipy library

# Using Python Scipy library to compute various measures of center of the data

In [4]:
import pandas as pd
import numpy as np
import scipy.stats as sp
from scipy.stats import trim_mean,kurtosis
from scipy.stats.mstats import gmean,hmean

In [5]:
df6= pd.read_csv("C:\\Users\\HP\\Downloads\\InfantMortalityGNI.csv",encoding='latin-1')

In [6]:
df6.head()

     Countries  GNI_PER_CAPITA  Infant_Mortality
0  Afghanistan           590.0              73.2
1      Albania          4290.0              14.0
2      Algeria          4800.0              25.5
3      Andorra             NaN               2.8
4       Angola          4040.0              86.5

In [7]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 3 columns):
Countries           197 non-null object
GNI_PER_CAPITA      185 non-null float64
Infant_Mortality    193 non-null float64
dtypes: float64(2), object(1)
memory usage: 4.7+ KB

# The mean function is deprecated in scipy. Recommendation to use numpy.mean
### Computing the geometric mean
#### The geometric mean is used for data that combine multiplicatively, like rates. used in population growth estimates and economics $$\sqrt[n]{{{x}_{1}}\bullet {{x}_{2}}\bullet {{x}_{3}}\bullet \bullet \bullet {{x}_{n}}}\,\,\,-\,\,\,1$$
#### The monthly rate of return of Alpha Business for the last three months has been 11.5, 2.7 and 4.8 percent. What is the average rate of return?

In [9]:
GeoMean= gmean([1.115,1.027,1.048])
print("The geomatric mean value is: ",round(GeoMean,3))

The geomatric mean value is:  1.063

In [10]:
Average_Rate_Return= (GeoMean-1)*100
print("THe average rate of return is: ",round(Average_Rate_Return,1))

THe average rate of return is:  6.3

## Computing the harmonic mean

###  $$\frac{n}{\frac{1}{{{x}_{1}}}+\frac{1}{{{x}_{2}}}+\frac{1}{{{x}_{3}}}+....+\frac{1}{{{x}_{n}}}}$$

## In a three separate download of a 600kb file,
    the averages rates of speed were measured as follows: 
    4.5Kb per second, 4.1Kb per second and 4.9 Kb per second. 
    Calculate the average rate of download.

In [11]:
Rates= [4.5,4.1,4.9]

In [12]:
Meannp= np.mean(Rates)

In [13]:
Meannp

4.5

In [14]:
HarmonicRate= hmean(Rates)

In [15]:
print("The harmonic rate is: ", round(HarmonicRate,2))

The harmonic rate is:  4.48

In [17]:
df6.head()

     Countries  GNI_PER_CAPITA  Infant_Mortality
0  Afghanistan           590.0              73.2
1      Albania          4290.0              14.0
2      Algeria          4800.0              25.5
3      Andorra             NaN               2.8
4       Angola          4040.0              86.5

In [19]:
skewness= sp.skew(df6['Infant_Mortality'],nan_policy= "omit")

In [20]:
print("The skewness coeff is: ", skewness)

The skewness coeff is:  1.2925985426500972

In [23]:
""" if Fisher=True (default)3 is subscribed from the kurtosis. Normal=0.0"""
Kurtosis= sp.kurtosis(df6['Infant_Mortality'],fisher=True, nan_policy='omit')
print("The kurtosis coefficient is: ",round(Kurtosis,2))

The kurtosis coefficient is:  0.89

## Computing the Z score using Python Scipy library

In [24]:
import pandas as pd
import numpy as np
import scipy.stats as sp
from scipy.stats import zscore

In [25]:
pd.set_option('display.max_rows', 999)

In [32]:
cpi_scores= pd.read_csv("C:\\Users\\HP\\Downloads\\CorruptionPerceptionIndex.csv",encoding='latin-1')

In [33]:
cpi_scores.head()

       Country  CPI2016
0  New Zealand       90
1      Denmark       90
2      Finland       89
3       Sweden       88
4  Switzerland       86

In [34]:
cpi_scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 2 columns):
Country    176 non-null object
CPI2016    176 non-null int64
dtypes: int64(1), object(1)
memory usage: 2.8+ KB

In [35]:
cpi_scores['zscores']= sp.zscore(cpi_scores['CPI2016']).round(2)

In [36]:
cpi_scores

                              Country  CPI2016  zscores
0                         New Zealand       90     2.43
1                             Denmark       90     2.43
2                             Finland       89     2.38
3                              Sweden       88     2.32
4                         Switzerland       86     2.22
5                              Norway       85     2.17
6                           Singapore       84     2.12
7                         Netherlands       83     2.07
8                              Canada       82     2.01
9                             Germany       81     1.96
10                         Luxembourg       81     1.96
11                     United Kingdom       81     1.96
12                          Australia       79     1.86
13                            Iceland       78     1.81
14                          Hong Kong       77     1.76
15                            Belgium       77     1.76
16                            Austria       75     1.65
17       The United States of America       74     1.60
18                            Ireland       73     1.55
19                              Japan       72     1.50
20                            Uruguay       71     1.45
21                            Estonia       70     1.40
22                             France       69     1.34
23                            Bahamas       66     1.19
24                              Chile       66     1.19
25               United Arab Emirates       66     1.19
26                             Bhutan       65     1.14
27                             Israel       64     1.09
28                             Poland       62     0.98
29                           Portugal       62     0.98
30                           Barbados       61     0.93
31                             Taiwan       61     0.93
32                              Qatar       61     0.93
33                           Slovenia       61     0.93
34                        Saint Lucia       60     0.88
35   Saint Vincent and The Grenadines       60     0.88
36                           Botswana       60     0.88
37                           Dominica       59     0.83
38                         Cape Verde       59     0.83
39                          Lithuania       59     0.83
40                         Costa Rica       58     0.78
41                             Brunei       58     0.78
42                              Spain       58     0.78
43                            Georgia       57     0.72
44                             Latvia       57     0.72
45                            Grenada       56     0.67
46                             Cyprus       55     0.62
47                     Czech Republic       55     0.62
48                              Malta       55     0.62
49                          Mauritius       54     0.57
50                             Rwanda       54     0.57
51                      Korea (South)       53     0.52
52                            Namibia       52     0.47
53                           Slovakia       51     0.42
54                           Malaysia       49     0.31
55                            Croatia       49     0.31
56                             Jordan       48     0.26
57                            Hungary       48     0.26
58                            Romania       48     0.26
59                               Cuba       47     0.21
60                              Italy       47     0.21
61                       Saudi Arabia       46     0.16
62              Sao Tome and Principe       46     0.16
63                           Suriname       45     0.11
64                         Montenegro       45     0.11
65                               Oman       45     0.11
66                            Senegal       45     0.11
67                       South Africa       45     0.11
68                             Greece       44     0.05
69                            Bahrain       43     0.00
70                              Ghana       43     0.00
71                    Solomon Islands       42    -0.05
72                             Serbia       42    -0.05
73                       Burkina Faso       42    -0.05
74                             Turkey       41    -0.10
75                             Kuwait       41    -0.10
76                            Tunisia       41    -0.10
77                           Bulgaria       41    -0.10
78                             Brazil       40    -0.15
79                              China       40    -0.15
80                              India       40    -0.15
81                            Belarus       40    -0.15
82                            Jamaica       39    -0.20
83                            Albania       39    -0.20
84             Bosnia and Herzegovina       39    -0.20
85                            Lesotho       39    -0.20
86                             Panama       38    -0.26
87                           Mongolia       38    -0.26
88                             Zambia       38    -0.26
89                           Colombia       37    -0.31
90                          Indonesia       37    -0.31
91               The FYR of Macedonia       37    -0.31
92                            Morocco       37    -0.31
93                            Liberia       37    -0.31
94                          Argentina       36    -0.36
95                        El Salvador       36    -0.36
96                           Maldives       36    -0.36
97                          Sri Lanka       36    -0.36
98                             Kosovo       36    -0.36
99                              Benin       36    -0.36
100                              Peru       35    -0.41
101               Trinidad and Tobago       35    -0.41
102                       Philippines       35    -0.41
103                          Thailand       35    -0.41
104                       Timor-Leste       35    -0.41
105                             Gabon       35    -0.41
106                             Niger       35    -0.41
107                            Guyana       34    -0.46
108                           Algeria       34    -0.46
109                             Egypt       34    -0.46
110                     Côte dIvoire       34    -0.46
111                          Ethiopia       34    -0.46
112                           Bolivia       33    -0.51
113                           Vietnam       33    -0.51
114                           Armenia       33    -0.51
115                          Pakistan       32    -0.56
116                              Mali       32    -0.56
117                          Tanzania       32    -0.56
118                              Togo       32    -0.56
119                Dominican Republic       31    -0.62
120                           Ecuador       31    -0.62
121                            Malawi       31    -0.62
122                          Honduras       30    -0.67
123                            Mexico       30    -0.67
124                          Paraguay       30    -0.67
125                              Laos       30    -0.67
126                        Azerbaijan       30    -0.67
127                           Moldova       30    -0.67
128                          Djibouti       30    -0.67
129                      Sierra Leone       30    -0.67
130                             Nepal       29    -0.72
131                        Kazakhstan       29    -0.72
132                            Russia       29    -0.72
133                           Ukraine       29    -0.72
134                              Iran       29    -0.72
135                         Guatemala       28    -0.77
136                           Myanmar       28    -0.77
137                  Papua New Guinea       28    -0.77
138                        Kyrgyzstan       28    -0.77
139                           Lebanon       28    -0.77
140                           Nigeria       28    -0.77
141                            Guinea       27    -0.82
142                        Mauritania       27    -0.82
143                        Mozambique       27    -0.82
144                         Nicaragua       26    -0.87
145                        Bangladesh       26    -0.87
146                          Cameroon       26    -0.87
147                            Gambia       26    -0.87
148                             Kenya       26    -0.87
149                        Madagascar       26    -0.87
150                        Tajikistan       25    -0.93
151                            Uganda       25    -0.93
152                           Comoros       24    -0.98
153                      Turkmenistan       22    -1.08
154                          Zimbabwe       22    -1.08
155                          Cambodia       21    -1.13
156                        Uzbekistan       21    -1.13
157  The Democratic Republic of Congo       21    -1.13
158                             Haiti       20    -1.18
159                           Burundi       20    -1.18
160          Central African Republic       20    -1.18
161                              Chad       20    -1.18
162                 Republic of Congo       20    -1.18
163                            Angola       18    -1.29
164                           Eritrea       18    -1.29
165                         Venezuela       17    -1.34
166                              Iraq       17    -1.34
167                     Guinea-Bissau       16    -1.39
168                       Afghanistan       15    -1.44
169                             Libya       14    -1.49
170                             Yemen       14    -1.49
171                             Sudan       14    -1.49
172                             Syria       13    -1.55
173                     Korea (North)       12    -1.60
174                       South Sudan       11    -1.65
175                           Somalia       10    -1.70

## Computing percentiles of scores and IQR using Python Scipy library

In [37]:
import pandas as pd
import numpy as np
import scipy.stats as sp

In [38]:
df8= pd.read_csv("C:\\Users\\HP\\Downloads\\InfantMortalityGNI.csv",encoding='latin-1')

In [39]:
df8.head()

     Countries  GNI_PER_CAPITA  Infant_Mortality
0  Afghanistan           590.0              73.2
1      Albania          4290.0              14.0
2      Algeria          4800.0              25.5
3      Andorra             NaN               2.8
4       Angola          4040.0              86.5

## Always need to drop missing values in data or use options provided to drop them

## Using percentileOfScore 
## kind : {‘rank’, ‘weak’, ‘strict’, ‘mean’}, optional
  1. “rank”: Average percentage ranking of score. 
  2. “weak”: This kind corresponds to the definition of a cumulative distribution function.<br>
  3. A percentileofscore of 80% means that 80% of values are less than or equal to the provided score.
  4. “strict”: Similar to “weak”, except that only values that are strictly less than the given score are counted.
  6. “mean”: The average of the “weak” and “strict” scores, often used in

In [40]:
Value=32
x= df8['Infant_Mortality'].dropna()
Percentile_value= sp.percentileofscore(x,Value,kind='weak')
print("The percentile value is",Percentile_value)

The percentile value is 64.7668393782

## Computing Percentile

#### Function will be deprecated in near future use numpy.percentile

In [42]:
sp.scoreatpercentile(df8['Infant_Mortality'].dropna(),75)

49.5

In [43]:
numpy7thp= np.nanpercentile(df8['Infant_Mortality'],75)

In [44]:
numpy7thp

49.5

## Scipy IQR

In [46]:
IQR_Infant= sp.iqr(df8['Infant_Mortality'],nan_policy= 'omit')

In [47]:
print("The IQR for infant mortality is:",IQR_Infant)

The IQR for infant mortality is: 41.3

In [48]:
IQR_GNI_PERCAPITA= sp.iqr(df8['GNI_PER_CAPITA'],nan_policy='omit')

In [49]:
print("The IQR for GNI per Capita is:",IQR_GNI_PERCAPITA)

The IQR for GNI per Capita is: 13310.0

## Computing trimmed statistics using Python 3 scipy statistics library

In [50]:
import pandas as pd
import numpy as np
import scipy.stats as sp
from scipy.stats import trim_mean

## The mean function is deprecated in scipy. Recommendation to use numpy.mean

In [51]:
Scores=[10,80,85,90,95,65]

In [52]:
Meannp= np.mean(Scores)

In [53]:
Meannp

70.833333333333329

## trimmed statistics series

### tmean(a[,limits,inclusive,axis])
### tvar(a[,limits,inclusive,axis,ddof])
### tmin(a[,lowerlimit,axis,inclusive,...])
### tmax(a[,upperlimit,axis,inclusive,...])
### tstd(a[,limits,inclusive,axis,ddof])

## Using the functions without additional arguments

In [55]:
sp.tmean(Scores)

70.833333333333329

In [56]:
sp.tvar(Scores)

994.16666666666663

In [57]:
sp.tstd(Scores)

31.530408602913262

In [58]:
sp.tmin(Scores)

10

In [59]:
sp.tmax(Scores)

95

## Using the functions with arguments

In [60]:
sp.tmean(Scores,(20,80))

72.5

In [61]:
sp.tstd(Scores,(20,80),ddof=1)

10.606601717798213

In [63]:
sp.tmin(Scores,30)

65

In [64]:
sp.tmax(Scores,90)

90

## Trimmed mean using scipy stats

### scipy.stats.trim_mean(a, proportiontocut, axis=0)

### Return mean of array after trimming distribution from both tails.

### If proportiontocut = 0.01, slices off ‘leftmost’ and ‘rightmost’ 1% of scores. The input is sorted before slicing.

In [65]:
df9= pd.read_csv("C:\\Users\\HP\\Downloads\\InfantMortalityGNI.csv",encoding='latin-1')

In [66]:
df9.head()

     Countries  GNI_PER_CAPITA  Infant_Mortality
0  Afghanistan           590.0              73.2
1      Albania          4290.0              14.0
2      Algeria          4800.0              25.5
3      Andorra             NaN               2.8
4       Angola          4040.0              86.5

In [67]:
Trimmed_Mean1pct= sp.trim_mean(df9['Infant_Mortality'].dropna(),0.01)

In [68]:
print("The 1% trimmed mean of infant mortality rate is: ",Trimmed_Mean1pct)

The 1% trimmed mean of infant mortality rate is:  31.0298429319

In [69]:
df10= df9['Infant_Mortality'].dropna()

In [71]:
sp.trim_mean(df10,0.01)

31.029842931937171