In [1]:
import pandas as pd

In [19]:
unames= ['User_Id','gender','age','occupation','zip']
users= pd.read_table('C:\\Users\\HP\\Desktop\\Bup\\CSV_files\\movie\\users.dat', sep='::',header= None, names=unames)

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [20]:
users.head()

   User_Id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [15]:
rnames= ['User_Id','Movie_Id','rating','Timestamp']
ratings= pd.read_table('C:\\Users\\HP\\Desktop\\Bup\\CSV_files\\movie\\ratings.dat', sep='::',header= None, names=rnames)

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [16]:
ratings.head()

   User_Id  Movie_Id  rating  Timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [41]:
mnames= ['Movie_Id','title','genres']
movies= pd.read_table('C:\\Users\\HP\\Desktop\\Bup\\CSV_files\\movie\\movies.dat', sep='::',header= None, names=mnames)

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [42]:
movies.head()

   Movie_Id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [23]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
movie_Id    3883 non-null int64
title       3883 non-null object
genres      3883 non-null object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB

In [24]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 4 columns):
User_Id      1000209 non-null int64
Movie_Id     1000209 non-null int64
rating       1000209 non-null int64
Timestamp    1000209 non-null int64
dtypes: int64(4)
memory usage: 30.5 MB

In [26]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 5 columns):
User_Id       6040 non-null int64
gender        6040 non-null object
age           6040 non-null int64
occupation    6040 non-null int64
zip           6040 non-null object
dtypes: int64(3), object(2)
memory usage: 236.1+ KB

In [43]:
data1= pd.merge(ratings,users)

In [44]:
data1.head()

   User_Id  Movie_Id  rating  Timestamp gender  age  occupation    zip
0        1      1193       5  978300760      F    1          10  48067
1        1       661       3  978302109      F    1          10  48067
2        1       914       3  978301968      F    1          10  48067
3        1      3408       4  978300275      F    1          10  48067
4        1      2355       5  978824291      F    1          10  48067

In [45]:
data=pd.merge(data1,movies,on="Movie_Id",how="right")

In [46]:
data.head()

,User_Id,Movie_Id,rating,Timestamp,gender,age,occupation,zip,title,genres
0,1.0,1193,5.0,978300760.0,F,1.0,10.0,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2.0,1193,5.0,978298413.0,M,56.0,16.0,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12.0,1193,4.0,978220179.0,M,25.0,12.0,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15.0,1193,4.0,978199279.0,M,25.0,7.0,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17.0,1193,5.0,978158471.0,M,50.0,1.0,95350,One Flew Over the Cuckoo's Nest (1975),Drama

In [63]:
data.isnull().count()

User_Id       1000386
Movie_Id      1000386
rating        1000386
Timestamp     1000386
gender        1000386
age           1000386
occupation    1000386
zip           1000386
title         1000386
genres        1000386
dtype: int64

In [65]:
data.notnull().count()

User_Id       1000386
Movie_Id      1000386
rating        1000386
Timestamp     1000386
gender        1000386
age           1000386
occupation    1000386
zip           1000386
title         1000386
genres        1000386
dtype: int64

In [67]:
data.nunique()

User_Id         6040
Movie_Id        3883
rating             5
Timestamp     458455
gender             2
age                7
occupation        21
zip             3439
title           3883
genres           301
dtype: int64

In [72]:
data['User_Id'].nunique()

6040

In [73]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000386 entries, 0 to 1000385
Data columns (total 10 columns):
User_Id       1000209 non-null float64
Movie_Id      1000386 non-null int64
rating        1000209 non-null float64
Timestamp     1000209 non-null float64
gender        1000209 non-null object
age           1000209 non-null float64
occupation    1000209 non-null float64
zip           1000209 non-null object
title         1000386 non-null object
genres        1000386 non-null object
dtypes: float64(5), int64(1), object(4)
memory usage: 84.0+ MB

In [61]:
data[['User_Id','rating','Timestamp','age','occupation']]=data[['User_Id','rating','Timestamp','age','occupation']].astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [97]:
mean_ratings = data.groupby('title')['rating'].agg(['mean'])

In [98]:
mean_ratings.head()

                                   mean
title
$1,000,000 Duck (1971)         3.027027
'Night Mother (1986)           3.371429
'Til There Was You (1997)      2.692308
'burbs, The (1989)             2.910891
...And Justice for All (1979)  3.713568