## python loops ##

In [1]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [5]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [2]:
# import numpy as n
# import scipy as s
# import matplotlib.pylab as p
# import pylab as pl
# import warnings
# warnings.filterwarnings('ignore')
# for i in pl.frange(100,1,-15.2):
#     print(i)

## Iteration over list ##

In [3]:
my_list= [30,21,33,42,53,64,71,86,97,10]
for i in my_list:
    print(i)

30
21
33
42
53
64
71
86
97
10

## SUPPOSE YOU NEED TO SELECT EVERY 3RD VALUE OF LIST ##

In [7]:
my_list= [30,21,33,42,53,64,71,86,97,10]
for i in my_list[::4]:
    print(i)

30
53
97

In [8]:
for i in my_list[::2]:
    print(i)

30
33
53
71
97

## Exmple1:##

### Create a new list with only item from list that is between 0 to 10 ##

In [9]:
l1=[100,1,10,2,3,5,8,13,21,34,55,98]
new=[]# blank list
for i in l1:
    if i>0 and i<=10:
        new.append(i)

In [10]:
new

[1, 10, 2, 3, 5, 8]

##  Another method

In [11]:
import numpy as np

In [13]:
k=np.array(l1)

In [14]:
l1=[100,1,10,2,3,5,8,13,21,34,55,98]
new=k[np.where(k<=10)]

In [15]:
new

array([ 1, 10,  2,  3,  5,  8])

## EXAMPLE 2:Check which alphabet (a-z) is mentioned in string ##

In [16]:
k="varunsharma"

import string
for n in string.ascii_lowercase:
    if n in k:
        print( n +  ' exist in '  +  k)
    else:
        print( n +  ' does not exist in '  +  k )

a exist in varunsharma
b does not exist in varunsharma
c does not exist in varunsharma
d does not exist in varunsharma
e does not exist in varunsharma
f does not exist in varunsharma
g does not exist in varunsharma
h exist in varunsharma
i does not exist in varunsharma
j does not exist in varunsharma
k does not exist in varunsharma
l does not exist in varunsharma
m exist in varunsharma
n exist in varunsharma
o does not exist in varunsharma
p does not exist in varunsharma
q does not exist in varunsharma
r exist in varunsharma
s exist in varunsharma
t does not exist in varunsharma
u exist in varunsharma
v exist in varunsharma
w does not exist in varunsharma
x does not exist in varunsharma
y does not exist in varunsharma
z does not exist in varunsharma

In [17]:
import pandas

In [18]:
help(pandas)

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data.
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations.
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data.
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects.
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets.
      - Intuitive merging and joining data sets.
      - Flexible reshaping and pivoting of data sets.
      - Hierarchical labeling of axes (possible to have multiple labels per tick).
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format.
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, moving window linear regressions,
        date shifting and lagging, etc.

PACKAGE CONTENTS
    _config (package)
    _libs (package)
    _typing
    _version
    api (package)
    arrays (package)
    compat (package)
    conftest
    core (package)
    errors (package)
    io (package)
    plotting (package)
    testing
    tests (package)
    tseries (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

FUNCTIONS
    __getattr__(name)

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    __git_version__ = '171c71611886aab8549a8620c5b0071a129ad685'
    describe_option = <pandas._config.config.CallableDynamicDoc object>
    get_option = <pandas._config.config.CallableDynamicDoc object>
    options = <pandas._config.config.DictWrapper object>
    reset_option = <pandas._config.config.CallableDynamicDoc object>
    set_option = <pandas._config.config.CallableDynamicDoc object>

VERSION
    0.25.1

FILE
    e:\anaconda\lib\site-packages\pandas\__init__.py

## PRACTICLE EXAMPLES: FOR IN LOOP IN PYTHON ##

In [6]:
import pandas as pd
import numpy as np

In [7]:
import pandas as pd
np.random.seed(234)
df= pd.DataFrame ({"x1": np.random.randint(low=1,high=100,size=10),
                  "Month1" : np.random.normal(size=10),
                  "Month2" : np.random.normal(size=10),
                  "Month3" : np.random.normal(size=10),
                  "price"  : range(10)
                  })

In [8]:
df

   x1    Month1    Month2    Month3  price
0  73 -1.072423 -0.451034  0.552293      0
1  32  1.199784  0.893741 -0.578580      1
2  69 -2.055237 -0.256037 -0.638391      2
3  58  0.480462  0.401904 -1.101918      3
4  96  1.274756  0.762926  0.640466      4
5  34  0.043043 -0.088150  0.810026      5
6   4 -0.263597  0.941738 -0.436055      6
7  55 -0.060155  0.753765  1.158233      7
8  64  2.489127  0.698780 -0.462182      8
9  68  1.018972 -0.464929  0.790867      9

# Multiple each month column by 1.2 #

In [10]:
for i in range(1,4):
    print(df["Month" +str(i)]*1.2)

0   -1.286908
1    1.439741
2   -2.466284
3    0.576554
4    1.529707
5    0.051651
6   -0.316316
7   -0.072186
8    2.986952
9    1.222767
Name: Month1, dtype: float64
0   -0.541241
1    1.072489
2   -0.307244
3    0.482284
4    0.915511
5   -0.105780
6    1.130085
7    0.904517
8    0.838536
9   -0.557915
Name: Month2, dtype: float64
0    0.662752
1   -0.694296
2   -0.766069
3   -1.322302
4    0.768559
5    0.972031
6   -0.523266
7    1.389879
8   -0.554619
9    0.949040
Name: Month3, dtype: float64

In [11]:
for i in range(1,3):
    print(df["Month" +str(i)])

0   -1.072423
1    1.199784
2   -2.055237
3    0.480462
4    1.274756
5    0.043043
6   -0.263597
7   -0.060155
8    2.489127
9    1.018972
Name: Month1, dtype: float64
0   -0.451034
1    0.893741
2   -0.256037
3    0.401904
4    0.762926
5   -0.088150
6    0.941738
7    0.753765
8    0.698780
9   -0.464929
Name: Month2, dtype: float64

## Store computed columns in New data frame ##

In [12]:
import pandas as pd
newDF= pd.DataFrame()
for i in range (1,4):
    data= pd.DataFrame(df["Month"+ str(i)]*1.2)
    newDF= pd.concat([newDF,data],axis=1)

In [13]:
newDF

     Month1    Month2    Month3
0 -1.286908 -0.541241  0.662752
1  1.439741  1.072489 -0.694296
2 -2.466284 -0.307244 -0.766069
3  0.576554  0.482284 -1.322302
4  1.529707  0.915511  0.768559
5  0.051651 -0.105780  0.972031
6 -0.316316  1.130085 -0.523266
7 -0.072186  0.904517  1.389879
8  2.986952  0.838536 -0.554619
9  1.222767 -0.557915  0.949040

## Check if value of x1>=50 , multiply each month cost by price.otherwise same as month ##

In [15]:
import pandas as pd
import numpy as np
for i in range(1,4):
    df2=df['newcol' + str(i)]=np.where(df['x1']>=50,
                                   df['Month' + str(i)]* df['price'],
                                   df['Month' +str(i)])

In [16]:
df2

array([ 0.        , -0.57858041, -1.27678242, -3.30575416,  2.56186374,
        0.81002604, -0.43605503,  8.10762822, -3.69745667,  7.11780124])

### FILTER DATAFRAME BY EACH UNIQUE VALUE OF COLUMN AND STORE IT IN A SEPRATE DATAFRAME##

In [25]:
mydata=pd.DataFrame({"X1" : ["A","A","B","B","C"]})

for name in mydata.X1.unique():
     temp= pd.DataFrame(mydata[mydata.X1 == name])
     exec('{}= temp'.format(name))

In [26]:
mydata

  X1
0  A
1  A
2  B
3  B
4  C

In [22]:
temp

  X1
4  C

In [21]:
v= "print hello"
"this is {}".format(v)

'this is print hello'

In [29]:
s= "Your Input"
"i am {}".format(s)

'i am Your Input'

## LOOP CONTROL STATEMENTS ##

### CONTINUE STATEMENT ##

In [30]:
for n in "abcdef":
    if n == "a" or n =="d":
        continue
    print("letter:",n)

letter: b
letter: c
letter: e
letter: f

### BREAK STATEMENT ##

In [37]:
for n in "abcdef":
    if n == "e"  :
        break
    print("letter:",n)

letter: a
letter: b
letter: c
letter: d

In [38]:
for n in "abcdef":
    if n == "c" or n == "e" :
        break
    print("letter:",n)

letter: a
letter: b

## FOR LOOP WITH ELSE CLAUSE ##

In [28]:
for k in range(2,10):
    for y in range(2,k):
        if k % y == 0:
            print(k,'=',y,'*',round(k/y))
        break
    else:
        print(k, 'is a prime number')

2 is a prime number
4 = 2 * 2
6 = 2 * 3
8 = 2 * 4

## WHILE LOOP ##

In [39]:
i=1
while i < 10:
    print(i)
    i += 2 #means i=i+2
    print("new i:",i)

1
new i: 3
3
new i: 5
5
new i: 7
7
new i: 9
9
new i: 11

## WHILE LOOP WITH IF-ELSE STATEMENT ##

In [40]:
counter =1
while(counter<=5):
    if counter <2:
        print("Less than 2")
    elif counter >4:
        print(" Greater than 4")
    else:
        print(">= 2 and <=4")
    counter +=1

Less than 2
>= 2 and <=4
>= 2 and <=4
>= 2 and <=4
 Greater than 4

In [1]:
import os

In [4]:
os.listdir()

['.3T',
 '.anaconda',
 '.android',
 '.cache',
 '.conda',
 '.condarc',
 '.continuum',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.oracle_jre_usage',
 '.PyCharm2018.2',
 '.QtWebEngineProcess',
 '.sasstudiohost_3.1',
 '.spss',
 '.spyder-py3',
 '.swt',
 '.Tableau Public',
 '0355.tmp',
 '3D Objects',
 '5222.tmp',
 'Anaconda3',
 'AnacondaProjects',
 'Analyzing descriptive statistics using Pandas libraries in Python3.ipynb',
 'AppData',
 'Application Data',
 'bar.html',
 'basic-plot.html',
 'bubble.html',
 'Class and Objects.ipynb',
 'Classes and Functions.ipynb',
 'Computing Statistics with missing values using the statistics library in python.ipynb',
 'Contacts',
 'Cookies',
 'corrplotcrime.png',
 'corruption.png',
 'Data Visualization  and Descriptive Statistics with Python3.ipynb',
 'Data visualization and Descriptive Statistics with Python3 part2 .ipynb',
 'Desktop',
 'Dis-plot.html',
 'Documents',
 'Downloads',
 'DS and ML with Python 2019.(1).ipynb',
 'DS and ML with Python 2019.(2).ipynb',
 'dwhelper',
 'Favorites',
 'Histogram.html',
 'Intel',
 'jre',
 'KNN Practice Ultimate Data Science and machine learning.ipynb',
 'line-plot.html',
 'Linear regression & Logistic Regression in Ultimate Data Science and Machine Learning.ipynb',
 'Links',
 'Local Settings',
 'Metplotlib.ipynb',
 'MicrosoftEdgeBackups',
 'Music',
 'My Documents',
 'MY_BRAND_NEW.pdf',
 'NetHood',
 'Nevin Reddy practice.ipynb',
 'NLP Intellipaat.ipynb',
 'NLP.ipynb',
 'NLP.SPACY.ipynb',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{a8024b34-b034-11e9-8621-92a0181c6831}.TM.blf',
 'NTUSER.DAT{a8024b34-b034-11e9-8621-92a0181c6831}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{a8024b34-b034-11e9-8621-92a0181c6831}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'Numpy_practice.ipynb',
 'OneDrive',
 'OOPS.ipynb',
 'pandas_practice.ipynb',
 'persistent_state',
 'Pictures',
 'PIMA INDIA DIABETES.ipynb',
 'PrintHood',
 'PycharmProjects',
 'Python Book Practice(2).ipynb',
 'Python book practice.ipynb',
 'Python file importing.ipynb',
 'Python loops.ipynb',
 'RandomForest DS and ML with Python .ipynb',
 'Recent',
 'SampleCsv.csv',
 'SampleCsv.xls',
 'Saved Games',
 'scatter-plot.html',
 'scatter.html',
 'Scikit-Learn Tutorial.ipynb',
 'Searches',
 'SendTo',
 'Sentiment Analysis Using NLTK.ipynb',
 'SqliteTestDb.db',
 'SqlViewerHistory.props',
 'stacked_area.png',
 'Start Menu',
 'temp-plot.html',
 'Templates',
 'test.txt',
 'Textmining and NLP.ipynb',
 'The Ultimate Data Science and Machine learning  Python in 2019.ipynb',
 'The Ultimate Data Science and Machine Learning( Web Scaping).ipynb',
 'TIMESERIES DS and ML with Python 2019.ipynb',
 'Titanic project.ipynb',
 'Untitled Folder',
 'Untitled Folder 1',
 'Untitled.ipynb',
 'untitled.txt',
 'Untitled1.ipynb',
 'untitled1.txt',
 'Untitled10.ipynb',
 'Untitled11.ipynb',
 'Untitled12.ipynb',
 'Untitled13.ipynb',
 'Untitled14.ipynb',
 'Untitled15.ipynb',
 'Untitled16.ipynb',
 'Untitled17.ipynb',
 'Untitled18.ipynb',
 'Untitled2.ipynb',
 'untitled2.txt',
 'Untitled3.ipynb',
 'untitled3.txt',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'Videos',
 'wekafiles',
 'whoops.txt',
 'whoops1.txt',
 'whoops3.txt',
 'Zero G Registry',
 '__t.tmp']