## Analyzing descriptive statistics using Pandas libraries in Python3

In [2]:
import pandas as pd
pd.set_option('display.max_rows',1000)

## Advantasges using Pandas statistical functions Missing values are removed prior to computations

In [4]:
dfRate= pd.read_csv("C:\\Users\\HP\\Downloads\\World2017literacyRate.csv",encoding='latin1')

In [5]:
dfMortality= pd.read_csv("C:\\Users\\HP\\Downloads\\InfantMortalityGNI.csv",encoding='latin1')

In [6]:
dfRate.head()

               Country  Literacy_Rate
0              Albania             96
1              Algeria             73
2               Angola             70
3  Antigua and Barbuda             99
4            Argentina             98

In [8]:
dfMortality.head()

     Countries  GNI_PER_CAPITA  Infant_Mortality
0  Afghanistan           590.0              73.2
1      Albania          4290.0              14.0
2      Algeria          4800.0              25.5
3      Andorra             NaN               2.8
4       Angola          4040.0              86.5