In [2]:
import os 
os.getcwd()

'C:\\Users\\HP'

In [3]:
import pandas as pd

In [4]:
mydata = {'productcode': ['AA', 'AA', 'AA', 'BB', 'BB', 'BB'],
        'sales': [1010, 1025.2, 1404.2, 1251.7, 1160, 1604.8],
        'cost' : [1020, 1625.2, 1204, 1003.7, 1020, 1124]}
df9 = pd.DataFrame(mydata)

In [5]:
df9

     cost productcode   sales
0  1020.0          AA  1010.0
1  1625.2          AA  1025.2
2  1204.0          AA  1404.2
3  1003.7          BB  1251.7
4  1020.0          BB  1160.0
5  1124.0          BB  1604.8

In [6]:
mydata1=pd.read_csv("C:\\Users\\HP\\Desktop\\income.csv")

In [7]:
mydata1.head(5)

,Index,State,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015
0,A,Alabama,1296530,1317711,1118631,1492583,1107408,1440134,1945229,1944173,1237582,1440756,1186741,1852841,1558906,1916661
1,A,Alaska,1170302,1960378,1818085,1447852,1861639,1465841,1551826,1436541,1629616,1230866,1512804,1985302,1580394,1979143
2,A,Arizona,1742027,1968140,1377583,1782199,1102568,1109382,1752886,1554330,1300521,1130709,1907284,1363279,1525866,1647724
3,A,Arkansas,1485531,1994927,1119299,1947979,1669191,1801213,1188104,1628980,1669295,1928238,1216675,1591896,1360959,1329341
4,C,California,1685349,1675807,1889570,1480280,1735069,1812546,1487315,1663809,1624509,1639670,1921845,1156536,1388461,1644607

In [8]:
df.shape

NameError: name 'df' is not defined

## select or drop variable##

#### Drop single variable ##

In [ ]:
df.productcode

In [ ]:
df2=pd.DataFrame(mydata1)

In [ ]:
df2.Index.head(5)

In [ ]:
df2["Y2002"].head(6)

In [ ]:
df2.loc[:,"Y2002"].head()

In [ ]:
df2.iloc[:,1].head()

In [ ]:
df2[["Index","Y2002"]].head()

## Drop Variable ##

In [ ]:
df3=df.drop(["Y2002"],axis=1).head()

In [ ]:
df3

## TO SUMMARIZE DATA FRAME ##

In [ ]:
df2.describe().head()

#### To summarize charater variables ###

In [ ]:
df9.describe(include=['O'])

In [ ]:
df9.describe(include=['float64'])

In [ ]:
df9.productcode.describe()

In [ ]:
df9["productcode"].describe()

## To calculate the summary statistics ##

In [ ]:
df9.sales.mean()

In [ ]:
df9.sales.std()

In [ ]:
df9.sales.median()

In [ ]:
df9.sales.max()

In [ ]:
df9.sales.min()

In [ ]:
df9.sales.count()

## Filter Data ##

In [ ]:
df1=df[(df9.productcode == "AA")& (df9.sales>=1250)]

In [ ]:
df1

In [ ]:
df1= df9.query('(productcode == "AA") & (sales >= 1250)')

In [ ]:
df1

## Sorting of Data##

In [10]:
df4= df9.sort(['sales'])

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [11]:
df4.head()

     cost productcode   sales
0  1020.0          AA  1010.0
1  1625.2          AA  1025.2
4  1020.0          BB  1160.0
3  1003.7          BB  1251.7
2  1204.0          AA  1404.2

## Group By: Summary by Grouping Variable ##

In [14]:
df5= df9.groupby(df9.productcode).mean()

In [15]:
df5

                    cost        sales
productcode
AA           1283.066667  1146.466667
BB           1049.233333  1338.833333

In [21]:
df6= df9["sales"].groupby(df9.productcode).mean()

In [22]:
df6

productcode
AA    1146.466667
BB    1338.833333
Name: sales, dtype: float64

## DEFINE CATEGORICAL VARIABLE ##

In [23]:
df0= pd.DataFrame({'id':[1,1,2,3,1,2,2]})

In [24]:
df0

   id
0   1
1   1
2   2
3   3
4   1
5   2
6   2

#### We can use astype() function to make id as categorical variable####

In [25]:
df0.id=df0["id"].astype('category')

In [26]:
df0.describe()

        id
count    7
unique   3
top      2
freq     3

In [27]:
df0.id

0    1
1    1
2    2
3    3
4    1
5    2
6    2
Name: id, dtype: category
Categories (3, int64): [1, 2, 3]

## Frequency Distribution ##

In [31]:
df9['productcode'].value_counts()

AA    3
BB    3
Name: productcode, dtype: int64